{{#extend "page"}}page-kitchen-sink{{/extend}}

{{#extend "body"}}

<section class="page-section" id="section-lunchroom-header" component:id="navbar">
  <div class="lunchroom-header">
    <div class="container">
      <div class="modules">
        <div class="module">
          Deliver to: <small component:prop="deliverTo">Bazaarvoice</small>
        </div>
        <div class="module">
          Delivery Time: <small component:prop="deliveryTime">12:00-12:30 PM</small>
        </div>
        <div class="module">
          Time left to order:
          <small class="text-important" component:prop="timeLeftToOrder">1 hr 26min</small>
        </div>
        <div class="module module-right module-unpadded">
          <a component:elm="checkoutButton" class="btn btn-primary" href="checkout">Checkout (<span component:prop="cartItemCount">1</span>)</a>
        </div>
      </div>
      <div class="tabs" component:section="tabs">
        <a component:section="tabs" component:view="active" class="active" href="#"><span component:prop="tabDay">Mon</span><small component:prop="tabDate">Jan 26</small></a>
        <a component:section="tabs" component:view="default" href="#"><span component:prop="tabDay">Tues</span><small component:prop="tabDate">Jan 27</small></a>
        <a href="#"><span component:prop="tabDay">Weds</span><small component:prop="tabDate">Jan 28</small></a>
        <a href="#"><span component:prop="tabDay">Thurs</span><small component:prop="tabDate">Jan 29</small></a>
        <a href="#"><span component:prop="tabDay">Fri</span><small component:prop="tabDate">Jan 30</small></a>
      </div>
    </div>
  </div>
</section>



<section class="page-section" id="section-item-tiles" component:id="share">
  <div class="container">
    <div class="panel-wrapper" style="max-width: 620px">
      <div class="panel panel-dark panel-share-link">
        <p class="panel-text">
          <strong>Share this link</strong> with coworkers to let them view the menu and place their own order!
        </p><!--
        --><input type="text"
            class="panel-input form-control"
            value="https://lunchroom.goodybag.com/bazaar-voice">
      </div>
    </div>
  </div>
</section>


<section class="page-section" id="section-loading-indicator">
  <div class="container">
    <h2 class="section-title">Loading indicator
      <button class="btn btn-primary" id="loading-indicator-demo">Start Loading</button>
    </h2>
  </div>
</section>


<footer class="footer" component:id="footer">
  <ul class="nav footer-nav">
    <li><a href="#" data-toggle="modal" data-target="#contact-us-modal">Contact Us</a></li>
    <li><a href="https://www.goodybag.com/legal">Terms of service</a></li>
    <li><a href="https://www.goodybag.com/privacy">Privacy policy</a></li>
  </ul>
</footer>

{{> loading_indicator}}
{{/extend}}

{{#extend "scripts"}}
<script>
  $(function(){
    $('#loading-indicator-demo').click(function(){
      var $loadingIndicator = $('.loading-indicator');
      $loadingIndicator.toggleClass('show');
      setTimeout( $loadingIndicator.toggleClass.bind( $loadingIndicator, 'show'), 2000 );
    });
  });
</script>
{{/extend}}