{{#extend "body"}}
<h1>Kitchen Sink</h1>

<section class="page-section hero-unit" id="section-intro">
  <div class="container">
      <div class="tabs">
        <a class="active" href="#">Mon<small>Jan 26</small></a>
        <a href="#">Tues<small>Jan 27</small></a>
        <a href="#">Weds<small>Jan 28</small></a>
        <a href="#">Thurs<small>Jan 29</small></a>
        <a href="#">Fri<small>Jan 30</small></a>
      </div>
      <div class="module">
        Delivery to: <small>Bazaarvoice</small>
      </div>
      <div class="module">
        Delivery Time: <small>12:00-12:30 PM</small>
      </div>
      <div class="module">
        Time left to order:
        <small class="text-important">1 hr 26min</small>
      </div>
      <div class="module module-right module-unpadded">
        <a class="btn btn-primary" href="checkout">Checkout (1)</a>
      </div>
  </div>
</section>

<section class="page-section" id="section-item-tiles">
  <div class="container">
    <div class="tiles item-tiles">
      {{#each items}}
        <div class="tile item-tile">
          <div class="tile-cover" style="background-image: url('{{coverPhotoUrl}}?cache=true&fit=scale');">
          </div>
          <div class="tile-info">
            <h3 class="tile-title">{{name}}</h3>
            <ul class="diet-tags">
              {{#each dietTags}}
                <li class="diet-tag diet-tag-{{this}}"></li>
              {{/each}}
            </ul>
            <div class="item-price">${{dollars price}}</div>
            <button class="btn btn-default btn-add">Add</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="page-section" id="section-item-tiles">
  <div class="container">
    <div class="panel-wrapper" style="max-width: 620px">
      <div class="panel panel-dark panel-share-link">
        <p class="panel-text">
          <strong>Share this link</strong> with coworkers to let them view the menu and place their own order!
        </p><!--
        --><input type="text"
            class="panel-input form-control"
            value="https://lunchroom.goodybag.com/bazaar-voice">
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="section-checkout-info">
  <div class="container">
    <fieldset class="checkout-info form-vertical">
      <div class="user-info">
        <h3 class="section-title">Your Info</h3>
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control">
          </div>
      </div>
      <div class="payment-info">
        <h3 class="section-title">Payment Info</h3>
          <div class="form-group form-group-member-name">
            <label for="">Name on card</label>
            <input type="text" class="form-control" name="card_member_name">
          </div>
          <div class="inline-form-group-list">
            <div class="form-group form-group-card-number">
              <label for="">Card number</label>
              <input type="text" class="form-control" name="card_number">
            </div>
            <div class="form-group form-group-card-cvv">
              <label for="">CVV</label>
              <input type="text" class="form-control" name="card_cvv">
            </div>
            <div class="form-group form-group-expiration">
              <label for="">Expiration date</label>
              <input type="text" class="form-control" placeholder="MM" name="card_expiration_month">
              /
              <input type="text" class="form-control" placeholder="YY" name="card_expiration_year">
            </div>
          </div>
      </div>
    </fieldset>
  </div>
</section>
{{/extend}}
