<div class="lunchroom-header" component:id="navbar">
  <div class="container">
    <div class="modules">
      <div class="module" component:view="menuAvailable" data-toggle="tooltip" title="We text you when your food arrives">
        Deliver to: <small component:prop="deliverTo">Bazaarvoice</small>
      </div>
      <div class="module" component:view="menuAvailable" data-toggle="tooltip" title="We text you when your food arrives">
        Delivery Time: <small component:prop="deliveryTime">12:00-12:30 PM</small>
      </div>
      <div class="module" component:view="orderCountdown" component:view-visibility="hidden">
        Time left to order:
        <small class="text-important" component:prop="timeLeftToOrder">1 hr 26min</small>
      </div>
      {{#unless hideCheckout}}
      <div class="module module-right module-unpadded module-checkout">
        <a component:elm="checkoutButton" component:view="offer-checkout" class="btn btn-primary" href="checkout" data-component-action="checkout">Checkout (<span component:prop="cartItemCount">1</span>)</a>
      </div>
      {{/unless}}
    </div>
    <div class="tabs" component:section="tabs">
      <a component:section="tabs" component:view="active" class="active" href="#" data-id="\{\{id\}\}" data-component-action="selectDay"><span component:prop="tabDay">Mon</span><small component:prop="tabDate">Jan 26</small></a>
      <a component:section="tabs" component:view="default" href="#" data-id="\{\{id\}\}" data-component-action="selectDay"><span component:prop="tabDay">Tues</span><small component:prop="tabDate">Jan 27</small></a>
      <a href="#"><span>Weds</span><small>Jan 28</small></a>
      <a href="#"><span>Thurs</span><small>Jan 29</small></a>
      <a href="#"><span>Fri</span><small>Jan 30</small></a>
    </div>
  </div>
</div>