<header class="navbar collapsed" component:id="header">
  <div class="container">
    <a href="/">
      <img src="https://d3bqck8kwfkhx5.cloudfront.net/img/logo.png" alt="Goodybag.com" class="navbar-logo"/>
    </a>
    <div class="nav">
      <span class="popover-wrapper gb-dropdown same-width-modal right">
        <button class="btn btn-default btn-dropdown" data-role="popover" data-target="dropdown-popover">
          John Fawcett
          <i class="gb-icon-caret-down"></i>
        </button>
      
        <div class="popover-modal dropdown-popover">
          <ul class="popover-body">
            <li class="popover-item">
              <a href="/pages/settings">Settings</a>
            </li>
            <li class="popover-item">
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </div>
</header>