@font-avenir-url: "/dist/font/avenir";
@import "../node_modules/font-avenir/font.less";

@diet-tags-url: "/dist/img";
@import "../node_modules/diet-tags/index.less";

@import "../node_modules/bootstrap/less/variables.less";
@import "../node_modules/bootstrap/less/mixins.less";

@import "../node_modules/cater/less/variables.less";
@import "../node_modules/cater/less/mixins.less";

@import "./variables.less";
@import "./mixins.less";

@import "./themes.less";

// Components
@import "../node_modules/bootstrap/less/modals.less";
@import "../node_modules/cater/less/components/navbar.less";
@import "../node_modules/cater/less/components/panel.less";
@import "../node_modules/cater/less/components/nav.less";
@import "../node_modules/cater/less/components/tile.less";
@import "../node_modules/cater/less/components/popover.less";
@import "../node_modules/cater/less/components/footer.less";
@import "../node_modules/cater/less/components/gb-dropdown.less";

@import "../node_modules/gb-icon-font/index.less";

@import "./components/anchors.less";
@import "./components/navbar.less";
@import "./components/container.less";
@import "./components/forms.less";
@import "../node_modules/cater/less/components/input-groups.less";
@import "./components/buttons.less";
@import "./components/hero-unit.less";
@import "./components/item-tiles.less";
@import "./components/tabs.less";
@import "./components/modules.less";
@import "./components/panel.less";
@import "./components/checkout-info.less";
@import "./components/lunchroom-header.less";
@import "./components/order-reviewer.less";
@import "./components/order-summary.less";
@import "./components/item-modal.less";

html {
  background-color:     @body-bg-color;
  font-family:          @font-family-base;
  font-size:            @font-size-base;
  font-weight:          @font-weight-base;
  line-height:          @line-height-base;
  color:                @color-primary-text;
  height:               100%;
  .font-smoothing;
}

* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#gb-icon-font > .init( @path: '/dist/font/gb-icon-font' );

#components > .diet-tags( '/dist/img', @diet-tags-size );
#components > #anchors > .init();
#components > #lunchroom-header > .init();
#components > #order-reviewer > .init( @mobile-breakpoint: @breakpoint-mobile );
#components > #order-summary > .init();
#components > #item-modal > .init();

.order-summary-wrapper {
  width: 320px;
  float: right;
  text-align: right;

  @media screen and ( max-width: @breakpoint-mobile ){
    width: 100%;
  }
}

.btn-place-order {
  margin-top: 24px;
}

// Prevent margin collapsing
@media screen and ( max-width: @breakpoint-tablet ){
  .form-group {
    margin: inherit;
  }
}

.modal-backdrop.in {
  opacity: 0.6;
}