@font-avenir-url: "/dist/font/avenir";
@import "../node_modules/font-avenir/font.less";

@diet-tags-url: "/dist/img";
@import "../node_modules/diet-tags/index.less";

@import "../node_modules/cater/less/variables.less";
@import "../node_modules/cater/less/mixins.less";

@import "./variables.less";
@import "./mixins.less";

// Components
@import "../node_modules/cater/less/components/navbar.less";
@import "../node_modules/cater/less/components/panel.less";

@import "../node_modules/cater/less/components/nav.less";
@import "../node_modules/cater/less/components/tile.less";
@import "../node_modules/cater/less/buttons.less";

@import "./components/container.less";
@import "./components/forms.less";
@import "../node_modules/cater/less/components/input-groups.less";
@import "./components/buttons.less";
@import "./components/hero-unit.less";
@import "./components/item-tiles.less";
@import "./components/tabs.less";
@import "./components/modules.less";
@import "./components/panel.less";
@import "./components/checkout-info.less";

html {
  background-color:     @body-bg-color;
  font-family:          @font-family-base;
  font-size:            @font-size-base;
  font-weight:          @font-weight-base;
  line-height:          @line-height-base;
  color:                @color-primary-text;
  height:               100%;
  .font-smoothing;
}

* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#components > .diet-tags( '/dist/img', @diet-tags-size );