{{#extend "body"}}
<table>
  <tr>
    <td></td>
    <td style="width: 180px">
      <h2 class="email-order-receipt-header">Order Receipt</h2>
    </td>
    <td></td>
  </tr>
</table>
<table>
  <tr>
    <td class="center">
      <center>
        <h1 class="primary-header" style="text-align: center">Your Lunch is here!</h1>
        <img class="center" src="https://d3bqck8kwfkhx5.cloudfront.net/img/lunch-arrived-1.png">
        <p></p>
      </center>
    </td>
  </tr>
</table>
{{> email_footer}}
{{/extend}}