<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/c2c33c6a5ddf146804e1d148753890edf9a87e2f.css">
  </head>
  <body>
    <header class="navbar collapsed">

        <div class="container">
          <a href="/">
            <img src="https://d3bqck8kwfkhx5.cloudfront.net/img/logo.png" alt="Goodybag.com" class="navbar-logo">
          </a>
          <ul class="nav">
            <li><a href="/pages/register">Sign Up</a></li>
            <li><a href="/pages/login">Login</a></li>
          </ul>
        </div>
      
    </header>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-cc4770e.js"></script>
</html>