<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/c2c33c6a5ddf146804e1d148753890edf9a87e2f.css">
  </head>
  <body>
    <div class="loading-indicator">

  <div class="loading-indicator-graphic">
    <img src="/lunchroom-landing~1/resources/assets/img~cupcake-happy-9574e8b.png">
  </div>
  <div class="loading-indicator-text">Loading...</div>

    </div>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-2cbe9af.js"></script>
</html>