<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/c2c33c6a5ddf146804e1d148753890edf9a87e2f.css">
  </head>
  <body>
    <div class="page page-kitchen-sink">

      <header class="navbar collapsed" data-component-id="header">
        <div class="container">
          <a href="/">
            <img src="https://d3bqck8kwfkhx5.cloudfront.net/img/logo.png" alt="Goodybag.com" class="navbar-logo">
          </a>
          <ul class="nav">
            <li><a href="/pages/register">Sign Up</a></li>
            <li><a href="/pages/login">Login</a></li>
          </ul>
        </div>
      </header>

      
<section class="page-section" id="section-lunchroom-header" data-component-id="navbar">
  <div class="lunchroom-header">
    <div class="container">
      <div class="modules">
        <div class="module">
          Deliver to: <small data-component-prop="deliverTo">Bazaarvoice</small>
        </div>
        <div class="module">
          Delivery Time: <small data-component-prop="deliveryTime">12:00-12:30 PM</small>
        </div>
        <div class="module">
          Time left to order:
          <small class="text-important" data-component-prop="timeLeftToOrder">1 hr 26min</small>
        </div>
        <div class="module module-right module-unpadded">
          <a data-component-elm="checkoutButton" class="btn btn-primary" href="checkout">Checkout (<span data-component-prop="cartItemCount">1</span>)</a>
        </div>
      </div>
      <div class="tabs" data-component-section="tabs">
        <a data-component-section="tabs" data-component-view="active" class="active hidden" href="#"><span data-component-prop="tabDay">Mon</span><small data-component-prop="tabDate">Jan 26</small></a>
        <a data-component-section="tabs" data-component-view="default" href="#" class="hidden"><span data-component-prop="tabDay">Tues</span><small data-component-prop="tabDate">Jan 27</small></a>
        <a href="#"><span data-component-prop="tabDay">Weds</span><small data-component-prop="tabDate">Jan 28</small></a>
        <a href="#"><span data-component-prop="tabDay">Thurs</span><small data-component-prop="tabDate">Jan 29</small></a>
        <a href="#"><span data-component-prop="tabDay">Fri</span><small data-component-prop="tabDate">Jan 30</small></a>
      </div>
    </div>
  </div>
</section>



<section class="page-section" id="section-item-tiles" data-component-id="share">
  <div class="container">
    <div class="panel-wrapper" style="max-width: 620px">
      <div class="panel panel-dark panel-share-link">
        <p class="panel-text">
          <strong>Share this link</strong> with coworkers to let them view the menu and place their own order!
        </p><!--
        --><input type="text" class="panel-input form-control" value="https://lunchroom.goodybag.com/bazaar-voice">
      </div>
    </div>
  </div>
</section>


<section class="page-section" id="section-loading-indicator">
  <div class="container">
    <h2 class="section-title">Loading indicator
      <button class="btn btn-primary" id="loading-indicator-demo">Start Loading</button>
    </h2>
  </div>
</section>


<footer class="footer" data-component-id="footer">
  <ul class="nav footer-nav">
    <li><a href="#" data-toggle="modal" data-target="#contact-us-modal">Contact Us</a></li>
    <li><a href="https://www.goodybag.com/legal">Terms of service</a></li>
    <li><a href="https://www.goodybag.com/privacy">Privacy policy</a></li>
  </ul>
</footer>

<div class="loading-indicator" data-component-id="loading-indicator">
  <div class="loading-indicator-graphic">
    <img src="/lunchroom-landing~1/resources/assets/img~cupcake-happy-9574e8b.png">
  </div>
  <div class="loading-indicator-text">Loading...</div>
</div>

    
    </div>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-2cbe9af.js"></script>
</html>