<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/c2c33c6a5ddf146804e1d148753890edf9a87e2f.css">
  </head>
  <body>
    <section class="page-section" id="section-item-tiles">

  <div class="container">
    <div class="panel-wrapper" style="max-width: 620px">
      <div class="panel panel-dark panel-share-link">
        <p class="panel-text">
          <strong>Share this link</strong> with coworkers to let them view the menu and place their own order!
        </p><!--
        --><input type="text" class="panel-input form-control" value="https://lunchroom.goodybag.com/bazaar-voice">
      </div>
    </div>
  </div>

    </section>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-cc4770e.js"></script>
</html>