<!--<Footer>-->
<table class="email-footer">
  <tr>
    <td style="padding-top:24px"></td>
  </tr>
  <tr>
    <td class="center main-content-wrapper">
      <center>
        <div class="footer-text-item">
          This email was sent to <a href="mailto:test@goodybag.com">Test Email Address</a>
        </div>
        <div class="footer-text-item">
          <a href="#">why did I get this?</a>
          &nbsp;&nbsp;
          <a href="#">unsubscribe from this list</a>
          &nbsp;&nbsp;
          <a href="#">update subscription preferences</a>
        </div>
        <div class="footer-text-item footer-text-item-address">
          Goodybag - 1900 Ullrich Ave, Austin, TX 78756, USA
        </div>
      </center>
    </td>
    <td class="expander"></td>
  </tr>
  <tr>
    <td style="padding-top:24px"></td>
  </tr>
</table>
<!--</Footer>-->