<!--<Footer>-->
<table class="email-footer">
  <tr>
    <td style="padding-top:24px"></td>
  </tr>
  <tr>
    <td class="center main-content-wrapper">
      <p>If you have any questions, please contact us at <a href="tel:5122706555">(512) 2700-65555</a> or <a href="mailto:support@goodybag.com">support@goodybag.com</a>
        <br>This is an automated email and cannot receive replies!
      </p>
    </td>
    <td class="expander"></td>
  </tr>
  <tr>
    <td style="padding-top:24px"></td>
  </tr>
</table>
<!--</Footer>-->