<table class="email-header">
  <tr>
    <td class="center main-content-wrapper">
      <center>
        <img class="center" border="0" src="https://www.goodybag.com/img/logo.png" alt="Goodybag">
      </center>
    </td>
    <td class="expander"></td>
  </tr>
</table>
<!--</Header>-->