<!--<OrderDetails>-->
<table class="email-order-details">
  <tr>
    <td class="key">Order #:</td>
    <td class="value">3456</td>
  </tr>
  <tr>
    <td class="key">Order from:</td>
    <td class="value">Dos Batos Woodfired Tacos</td>
  </tr>
  <tr>
    <td class="key">Delivery Date:</td>
    <td class="value">Monday, 1/26/15</td>
  </tr>
  <tr>
    <td class="key">Delivery Time:</td>
    <td class="value">12:00 - 12:30</td>
  </tr>
  <tr class="delivery-row">
    <td class="key">Deliver to:</td>
    <td class="value">Gillian Lambert
      <br>Goodybag, Inc.
      <div class="address">7901 Cameron Rd
        <br>Bld2, Ste 300
        <br>Austin, TX 78754
      </div>
    </td>
  </tr>
</table> 