<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/dist/landing-page.css">
    {{{block "css"}}}
  </head>
  <body class="page {{{block "page"}}}">
    {{{block "body"}}}
    {{{block "scripts"}}}
  </body>
</html>