<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/app.css" component:bundle="app.css">
    {{{block "css"}}}
  </head>
  <body>
    <div class="page {{{block "page"}}}" component:id="page">
      <header class="navbar collapsed" component:id="header">
        <div class="container">
          <a href="/">
            <img src="https://d3bqck8kwfkhx5.cloudfront.net/img/logo.png" alt="Goodybag.com" class="navbar-logo">
          </a>
          <ul class="nav">
            <li><a href="/pages/register" data-component-action="signup">Sign Up</a></li>
            <li><a href="/pages/login" data-component-action="login">Login</a></li>
          </ul>
        </div>
      </header>
      
      {{{block "body"}}}
      
      <footer class="footer" component:id="footer">
        <ul class="nav footer-nav">
          <li><a href="#" data-toggle="modal" data-target="#contact-us-modal">Contact Us</a></li>
          <li><a href="https://www.goodybag.com/legal">Terms of service</a></li>
          <li><a href="https://www.goodybag.com/privacy">Privacy policy</a></li>
        </ul>

        {{> loading_indicator}}

        <div class="modal fade" id="contact-us-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Contact Us</h3>
              </div>
              <form action="#" class="form form-vertical contact-us-form" id="contact-us-form">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="name-input">Name</label>
                    <input type="text" name="name" component:prop="name">
                  </div>
                  <div class="form-group">
                    <label for="name-input">Email</label>
                    <input type="email" name="email" component:prop="email">
                  </div>
                  <div class="form-group">
                    <label for="message-input">Message</label>
                    <textarea rows="6" type="text" name="message" component:prop="message"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="/dist/lib.js" component:bundle="lib.js"></script>
    <script src="/dist/app.js" component:bundle="app.js"></script>
    <script src="/dist/utils.js" component:bundle="utils.js"></script>

    {{{block "scripts"}}}
  </body>
</html>