<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <section class="page-section hero-unit primary-section" id="email-signup-cta">

  <div class="container">
    <h1 class="section-header">Get your lunch delivered every day.</h1>
    <p>Your choice of meal brought to you at work. Starts August 17th, 2015.</p>
    <form action="#" class="cta-form form" data-component-id="subscribe">
      <div class="form-group">
        <div class="email-wrapper">
          <input type="email" name="email" data-component-elm="email">
        </div>
        <div class="submit-wrapper">
          <button class="btn btn-primary" data-component-elm="subscribeButton">Get notified</button>
        </div>
      </div>
      <p class="form-explanation">Enter your email to receive daily menus when we launch!</p>
    </form>
    <h2 class="outro-header">Share the love! Send this page to your coworkers.</h2>
  </div>

    </section>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-2cbe9af.js"></script>
</html>