<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <form action="#" class="cta-form form">

      <div class="form-group">
        <div class="email-wrapper">
          <input type="email" name="email" value="\{\{email\}\}">
        </div>
        <div class="submit-wrapper">
          <button class="btn btn-primary" data-component-action="subscribe">Get notified</button>
        </div>
      </div>
      <p class="form-explanation">Enter your email to receive daily menus when we launch!</p>
    
    </form>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-2cbe9af.js"></script>
</html>