<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container items-container">

  <h1 class="menu-provider-name"><span data-component-prop="restaurantTitle">Dos Batos Wood Fired Tacos</span>
    <span class="no-tip-note">No tips. <span class="no-tip-note-flat">Just a flat $2.99 fee</span> And no more fee</span>
  </h1>
  <div class="tiles item-tiles" data-component-section="items">
      <div class="tile item-tile" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity"></div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-spicy" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$10.90</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile is-in-cart" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity">2</div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-vegan" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-vegetarian" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$12.00</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile is-in-cart" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity">1</div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
          </ul>
          <div class="item-price" data-component-prop="price">$10.90</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity"></div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Poop Taco Box but this one is a really long title</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-spicy" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$12.00</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity"></div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-spicy" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$12.00</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity"></div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-spicy" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$10.90</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity"></div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-spicy" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$12.00</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity"></div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-spicy" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$12.00</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
      <div class="tile item-tile" data-component-section="items" data-id="\{\{id\}\}" data-component-view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" data-component-prop="photoUrl" data-component-prop-target="style/background-image" data-component-action="showDetails" data-id="\{\{id\}\}" data-toggle="modal" data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity" data-component-prop="quantity"></div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" data-component-prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" data-component-section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
              <li class="diet-tag diet-tag-spicy" data-tag="\{\{tag\}\}" data-component-section="diet-tags" data-component-view="default"></li>
          </ul>
          <div class="item-price" data-component-prop="price">$10.90</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove" data-id="\{\{item_id\}\}" data-component-action="remove" data-component-view="orderable">-</button><button class="btn btn-default btn-add" data-id="\{\{item_id\}\}" data-component-action="add" data-component-view="orderable">Add</button>
          </div>
        </div>
      </div>
  </div>

    </div>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-2cbe9af.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~utils-ec3c1fa.js"></script>
</html>