<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container">

  <div class="warning-section">
    <img src="/lunchroom-landing~1/resources/assets/img~cupcake-shocked-2-4bc6fb3.png" alt="" class="warning-section-supporting-graphic">
    <h2 class="warning-section-header">Sorry, time’s up :(.</h2>
    <p>You must place your order by <span data-component-prop="orderBy">10am</span>.</p>
  </div>

    </div>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-2cbe9af.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~utils-ec3c1fa.js"></script>
</html>