<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container order-success">

  <img src="/lunchroom-landing~1/resources/assets/img~success-d84e5c8.png" alt="" class="success-img">

  <p class="order-success-note">Your order is placed and will be <strong>delivered today between <span data-component-prop="pickupTime">12:00-12:30pm</span></strong>.</p>

  <p class="order-success-note">Your meal will be delivered <strong data-component-prop="deliveryLocation">in the Bazaarvoice Lobby</strong>.</p>

  <p class="order-success-note">We'll send you an email and text you when it arrives.</p>

    </div>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-cc4770e.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~utils-ec3c1fa.js"></script>
</html>