<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container order-success">

  <div class="menu-share">
    <h4 class="menu-share-title">Share this link</h4>
    <p class="menu-share-followup">with coworkers to let them view the menu and place their own order!</p>
    <input class="menu-share-input" type="text" value="http://lunchroom.goodybag.com/bazaarvoice" data-component-prop="shareUrl" data-component-prop-target="value">
  </div>

    </div>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-cc4770e.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~utils-ec3c1fa.js"></script>
</html>