<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~1/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container order-summary-container">

  <div class="order-summary-wrapper">
    <div class="order-summary">
      <div class="order-summary-item">
        <div class="order-summary-col order-summary-key">Subtotal</div>
        <div class="order-summary-col order-summary-value" data-component-prop="subtotal">$8.80</div>
      </div>
      <div class="order-summary-item">
        <div class="order-summary-col order-summary-key">Tax</div>
        <div class="order-summary-col order-summary-value" data-component-prop="taxAmount">$0.73</div>
      </div>
      <div class="order-summary-item">
        <div class="order-summary-col order-summary-key">Tip</div>
        <div class="order-summary-col order-summary-value">Please, no tips!</div>
      </div>
      <div class="order-summary-item order-summary-item-total">
        <div class="order-summary-col order-summary-key">Total</div>
        <div class="order-summary-col order-summary-value" data-component-prop="total">$12.37</div>
      </div>
    </div>
    <button class="btn btn-primary btn-place-order" data-component-elm="placeOrderButton">Place Order</button>
  </div>

    </div>
  </body>
    <script src="/lunchroom-landing~1/resources/dist~lib-faba62f.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~app-2cbe9af.js"></script>
    <script src="/lunchroom-landing~1/resources/dist~utils-ec3c1fa.js"></script>
</html>