{{#extend "page"}}page-order-submitted{{/extend}}

{{#extend "body"}}
<div class="container order-success" component:id="order-success">
  <img src="/img/success.png" alt="" class="success-img">

  <p class="order-success-note">Your order is placed and will be <strong>delivered today between <span component:prop="pickupTime">12:00-12:30pm</span></strong>.</p>

  <p class="order-success-note">Your meal will be delivered <strong component:prop="deliveryLocation">in the Bazaarvoice Lobby</strong>.</p>

  <p class="order-success-note">We'll send you an email and text you when it arrives.</p>

  <div class="menu-share">
    <h4 class="menu-share-title">Share this link</h4>
    <p class="menu-share-followup">with coworkers to let them view the menu and place their own order!</p>
    <input class="menu-share-input" type="text" value="http://lunchroom.goodybag.com/bazaarvoice" component:elm="shareUrl">
  </div>
</div>
{{/extend}}