{{#extend "page"}}page-order-submitted{{/extend}}

{{#extend "body"}}
<div class="container order-success" component:id="order-success">
  <img src="/img/success.png" alt="" class="success-img">

  <p class="order-success-note">Your order is placed and will be <strong>delivered today between <span component:prop="pickupTime">12:00-12:30pm</span></strong>.</p>

  <p class="order-success-note">Your meal will be delivered <strong component:prop="deliveryLocation">in the Bazaarvoice Lobby</strong>.</p>

  <p class="order-success-note">We'll send you an email and text you when it arrives.</p>

  <div class="complete-registration">
    <h2 class="complete-registration-title">Create an account and save time</h2>
    <div class="form-group form-group-email">
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group form-group-phone">
      <input type="tel" name="phone" placeholder="Phone Number">
    </div>
    <div class="form-group form-group-password">
      <input type="password" placeholder="Password">
    </div>
    <div class="form-group form-group-actions">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="complete-registration">
    <h2 class="complete-registration-title">Create an account and save time</h2>
    <div class="form-group form-group-email error">
      <div class="error-msg">Account already exists. <a href="#">Login</a> to add this order to your account</div>
      <div class="error-msg">Invalid email</div>
      <input type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group form-group-phone error">
      <div class="error-msg">Invalid Phone Number</div>
      <input type="tel" name="phone" placeholder="Phone Number">
    </div>
    <div class="form-group form-group-password error">
      <div class="error-msg">Invalid passwordr</div>
      <input type="password" placeholder="Password">
    </div>
    <div class="form-group form-group-actions">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="complete-registration">
    <h2 class="complete-registration-title">Create an account and save time</h2>
    <div class="form-group form-group-password">
      <input type="password" placeholder="Password">
    </div>
    <div class="form-group form-group-actions">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
  
  <div class="complete-registration">
    <h2 class="complete-registration-title">Create an account and save time</h2>
    <div class="form-group form-group-password error">
      <div class="error-msg">Invalid password</div>
      <input type="password" placeholder="Password">
    </div>
    <div class="form-group form-group-actions">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="complete-registration">
    <h2 class="complete-registration-title">Account created!</h2>
  </div>

  <div class="menu-share">
    <h4 class="menu-share-title">Share this link</h4>
    <p class="menu-share-followup">with coworkers to let them view the menu and place their own order!</p>
    <input class="menu-share-input" type="text" value="http://lunchroom.goodybag.com/bazaarvoice" component:elm="shareUrl">
  </div>
</div>
{{/extend}}