///////////
// Forms //
///////////

@import "../../node_modules/cater/less/forms.less";

.inline-form-group-list {

  > .form-group {
    display: inline-block !important;

    &:first-child {
      margin-left: 0!important;
    }
  }
}

.form-group.error .error-msg {
  display: block;
  color: @palette-red;
}

.error-group {
  color: @palette-red;
  margin-bottom: 10px;

  .error-msg {
    ~ .error-msg {
      margin-top: 6px;
    }
  }
}

.form-group-header {
  font-size: 14px;
  margin-top: 41px;
  margin-bottom: 20px;
}