//////////////////////
// Lunchroom Header //
//////////////////////

@import "../themes.less";

#components { #lunchroom-header {
  .init(){
    .lunchroom-header {
      #themes > .get('dark');
        .background();
        .color();

      display: table;
      width: 100%;
      padding-top: 48px;
    }
  }  
}}
