// TODO mixin-ify

.modules {
  display: inline-block;
}

.module {
  display: inline-block;
  font-size: 14px;
  padding: 5px 32px;
}
.module-right {
  float: right;
}
.module-unpadded {
  padding: 0;
}
.module small {
  display: block;
  font-size: 1em;
  font-weight: 700;

  &.text-important {
    // TODO: no harcoding, y'all
    color: #EF4147;
  }
}
