////////////////////
// Order Reviewer //
////////////////////

#components { #order-reviewer {
  .init(){
    .order-reviewer {
      .order-reviewer-item {
        display: table;
        width: 100%;
      }

      .order-reviewer-item-col {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}}