// TODO mixin-ify
@tabs-color: @palette-gray-dark;

.tabs {
  display: inline-block;
  font-size: 0;
  color: @tabs-color;
}

.tabs > a {
  display: inline-block;
  text-align: center;
  padding: 10px 24px 6px;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  border: 1px solid @palette-gray;
  border-bottom: none;
  color: @palette-gray;

  @media screen and (max-width: @breakpoint-mobile) {
    font-size: 14px;
    padding: 6px 11.5px 2px;
    line-height: 18px;
  }
}

.tabs > a ~ a {
  border-left: 0px;
}

.tabs > a.active {
  color: @tabs-color;
  background-color: white;
  border-color: @palette-white;
}

.tabs > a small {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
}
